<!-- dashboard -->
{% extends 'header.html' %}

{% block body %}
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    <li role="presentation"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Edit</a></li>
</ul>
</div>
  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="home">
	{% for tab in TOPIC_DICT ['Home']%}
		<li><a href='{{tab[1]}}'>{{tab[0]}}</a></li>
	{% endfor %}
  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile">
    <ul>
  		<li>1</li>
  		<li>2</li>
  		<li>3</li>
  	</ul>
  	</div>
  <div role="tabpanel" class="tab-pane fade" id="messages">
  	{% for tab in TOPIC_DICT ['Home']%}
		<li><a href='{{tab[1]}}'>{{tab[0]}}</a></li>
	{% endfor %}
	</div>  	
  <div role="tabpanel" class="tab-pane fade" id="settings">	
	{% for tab in TOPIC_DICT ['Home']%}
		<li><a href='{{tab[1]}}'>{{tab[0]}}</a></li>
	{% endfor %}
	</div>
  <div role="tabpanel" class="tab-pane fade" id="edit">	
	  	  <div class="container-fluid">
			{% include 'includes/commentbox.html' %}
		  </div>
	  </div>
</div>
{% endblock %}